[2020-09-28 16:42] chriskacerguis opened #1 "UUID Generator?"
This is a great app (and frankly the $9 I spent hardly seems fair to you :)

Any chance of adding some UUID tools?

https://www.uuidtools.com/v5
https://www.uuidtools.com/v4

[2020-09-28 16:44] chriskacerguis opened #2 "Mac App Store?"
Would it be possible to submit this to the Mac App store?  I'd be happy to pay more for it to offset the costs.  It's easier to manage all my licenses via App store (vs emails/license keys/etc).

[2020-09-28 17:21] xC0der commented on #2
Same here!

[2020-09-28 23:26] trungdq88 commented on #2
Should not be a problem, I'll try to see if I can make it available this week. Thanks for your support!

[2020-09-28 23:28] trungdq88 commented on #1
Sure, this seems very useful!

[2020-09-29 02:26] chriskacerguis commented on #2
@trungdq88 thanks!!  I’m happy to buy it again to help a fellow dev.

[2020-09-29 08:16] iedmrc opened #4 "What is the license of the project?"
I don't see any license attached to the repo. So, what is the license of the project? I want to build it from source code but want to know what I am allowed to do with it.

[2020-09-29 10:10] trungdq88 commented on #4
It's GPL v3, just added to the repo :)

[2020-09-29 10:10] #4 closed

[2020-09-29 10:45] iedmrc opened #5 "More info on how to build"
Could you please provide more info on how to build? Especially after `Bootstrap carthage: carthage bootstrap --platform macOS` step. Thanks!

[2020-09-29 16:35] micheld93 commented on #5
Even `Bootstrap carthage: carthage bootstrap --platform macOS` fails on my computer:
`Error Domain=NSCocoaErrorDomain Code=260 "The file “Cartfile” couldn’t be opened because there is no such file."`

Xcode is not my cup of tea. It's version 12. The build fails as well:
- No signing certificate "Mac Development" found: No "Mac Development" signing certificate matching team ID "4XXXXXXXXX" with a p

[2020-09-29 19:19] danielewood commented on #5
[code]

After that, you have to set the Xcode signing certificate to your own, if you build as a local only signing, it cant sign the non-embedded frameworks.

[2020-09-30 02:45] trungdq88 commented on #5
Make sure you run `carthage bootstrap` where the Cartfile is.

@iedmrc Is there any specific step that you have a problem? I don't have access to any other version of Swift/Xcode so I cannot provide detailed steps. The project should be run-able as any other Xcode project. Maybe [this comment](https://news.ycombinator.com/item?id=24615001) will help?

[2020-09-30 08:41] micheld93 commented on #5
@danielewood Thanks for the help. Do I need to be an enrolled Apple Developer for 99€ to get those code signing certificates?

[2020-09-30 11:13] mateushnsoares opened #6 "Windows and Linux version ?"
You can create in electron...

[2020-10-01 00:43] trungdq88 commented on #2
@chriskacerguis @xC0der The app is up :) https://apps.apple.com/us/app/id1533756032

If you purchase on App Store and want a refund on the standalone build, please send me your App Store receipt, I'm happy to refund you on Stripe.

I also just created a Twitter account: https://twitter.com/devutils_app I'll post more regular updates on it.

Thanks!

[2020-10-01 01:37] chriskacerguis commented on #2
This is awesome @trungdq88 I just purchased it!

[2020-10-01 01:38] #2 closed

[2020-10-01 03:39] trungdq88 commented on #6
Hi Mateus, thanks for the suggestion! I'll take a look into this, but for now I want to focus on the mac app first.

[2020-10-01 16:05] Narrorek opened #7 "JSON to Struct Codable converter"
Hello,

It Will be great if you add json to struct codable converter like https://quicktype.io/.

Thanks.

[2020-10-02 05:35] danielewood opened #8 "Support multiple JSON lines in JSON Linter."
Quite often I'll be dealing with JSON formatted logs with lines of JSON. It would be nice if I could paste a section in and it lint all the input.

![image](https://user-images.githubusercontent.com/23008560/94891014-c3d18c80-0435-11eb-96cc-e9cc1fc6bf67.png)

As a bonus, instead of showing "Invalid JSON", if it could have an option to partially-parse the JSON and highlight the syntax errors, much

[2020-10-02 05:40] danielewood opened #9 "Set substitution defaults"
Initially I was having issues with JSONs due to my system wide substitution being the macOS default of smart-quotes. As soon as I would click the JSON example, it would appear momentarily, then show as `Invalid JSON`.

I think it would be beneficial for DevUtils to be opinionated and default to either disabling smart quote substitution or set the substitution to be classic straight quotes. This ma

[2020-10-02 06:17] danielewood opened #10 "Show JSON path to key/value."
It would be great if on a linted JSON, I could click on a value or a key, and it would show the path (and be copyable).

This would be really handy for building JQ queries (a live interactive JQ query builder would be amazing, but that is asking a bit much).

Example:
Clicking on "Sword of Honour" would show the path of `.store.book[1].title`
![image](https://user-images.githubusercontent.com/2300

[2020-10-02 07:27] audip opened #11 "Feature request: DiffChecker"
Numerous people use online diff checkers to compare files, PDFs, code snippets and a way to compare them offline is going to make this app super awesome.

[2020-10-02 15:24] trungdq88 commented on #11
Hi there,

Thanks for the suggestion, I'll look into this. Hopefully can be added in the next few updates :)

[2020-10-02 15:29] trungdq88 commented on #10
Hi Daniel, this is a good suggestion, I'll try to add it in :) Thanks!

[2020-10-02 15:32] trungdq88 commented on #9
Thanks! I have also received a few reports about smart quotes. For now, I'll make the JSON tool consider "smart" and "dump" quotes the same, this should resolve the issue for most cases. Stay tuned for the next update :)

For custom text replacement and other substitutions, I'll see if I can add it in in the future.

[2020-10-02 15:36] trungdq88 commented on #8
Thanks, Daniel. These are all good suggestions. The multi-lines JSON may mess-up with the "showing selected JQ path" a bit but I believe there as ways to work around that.

I'll put these all into my backlog, thanks!

[2020-10-02 15:38] trungdq88 commented on #7
Nice. Since Quicktype is open source, it may help with the integration a lot. I'll look into this, thanks!

[2020-10-02 15:39] #6 closed

[2020-10-02 22:30] Narrorek commented on #7
i will keep fingers crossed - good luck!

Please remove XIBs, try to create UI in swift :P

[2020-10-02 23:55] glenvan commented on #5
Nope, just an Apple ID of any kind. Add your account in the Xcode preferences, manage your account's certificates, and add an Apple Development Certificate. It's free for local development.

Then set your account as the team for both the `DevUtils` and `DevUtilsLauncher` targets, and it should build for you.

[2020-10-03 11:19] micheld93 commented on #5
Well, I found my problem. Thanks for all. There are more than two drop down menus for choosing the certificate. The third one is only visible when one changes the visibility settings in built setting from "basic" to "all". Small thing and takes a lot of time to find it.

[2020-10-03 14:24] trungdq88 commented on #1
@chriskacerguis UUID Generator/Decoder is now available. Update the app to 1.2.1 and you'll have it 😄
![uuid](https://user-images.githubusercontent.com/4214509/94993972-cf9c8a80-05be-11eb-9a44-4c1b5c2b3668.gif)

https://twitter.com/devutils_app/status/1312315775420514304

[2020-10-03 14:27] chriskacerguis commented on #1
awesome!

[2020-10-03 14:27] chriskacerguis commented on #1
and thanks!

[2020-10-03 23:41] trungdq88 commented on #5
Nice!

[2020-10-03 23:41] #5 closed

[2020-10-03 23:41] trungdq88 commented on #5
Nice! Thanks all for the helps!

[2020-10-05 15:10] adamhopkinson opened #13 "Build instructions aren't comprehensive enough for those of us who aren't MacOS/iOS devs"
This looks like a great app - however, coming from a web app background the build instructions are not comprehensive enough.

1. **Clone repository**. Easy enough, git is fairly universal for all devs
2. **Bootstrap carthage: carthage bootstrap --platform macOS**. Installed carthage using brew, ran the command
3. **Update signing Team to be your Personal or organizational Team**. What?
4. **Run**.

[2020-10-05 15:53] soleo opened #14 "Add support for XML formatter/validator"
For some projects I have worked on in the past, XML is used as the data format. E.g sitemaps, product catalog exports, etc. Would like to see a feature to prettify large XML files

[2020-10-06 03:27] sudo-suhas opened #15 "Support simple math expression in unix time converter input"
Could you please add support for simple math expression such as `1601954752+49634` as the input for unix time converter? Right now, it fails with 'Invalid input'.

<img width="1130" alt="image" src="https://user-images.githubusercontent.com/22251956/95155468-d63f2380-07b1-11eb-8351-6443ec592cc5.png">

[2020-10-06 14:48] FNGR2911 opened #16 "Reciepe"
Thanks yor the app! I bought it a few minutes ago and really really like it! But other than promised on the thank you page, I just got a download link – no reciepe. How do I get one? Really need it.

[2020-10-06 15:36] trungdq88 commented on #14
Hi, thanks for the suggestion. This will be put in the backlog for future versions. Stay tuned for the updates. Cheers!

[2020-10-06 15:38] trungdq88 commented on #15
Hm, at the first glance I don't see this is needed. Can you explain more on what is your workflow that leads to the need for this feature?

[2020-10-06 15:41] trungdq88 commented on #16
Hi there, thank you for buying the app!

The receipt is sent in a separate email by Stripe, please also look into the Spam folder.
If you still can't find it, please send me an email to admin@devutils.app using the email you used to purchase. I'll look up your receipt and resend it to you.

Cheers!

[2020-10-06 15:45] trungdq88 commented on #13
Hi, sorry for the ambiguous, I'll try to improve the doc on the weekend.

I found a good document explaining how to Update the signing Team in XCode, maybe it will help:
- https://developer.apple.com/support/code-signing/
- https://help.apple.com/xcode/mac/current/#/dev60b6fbbc7 (click through the submenu in the sidebar, there are pictures)

As for "Run", it means you click the "Run" button in Xco

[2020-10-06 15:54] sudo-suhas commented on #15
I was trying to figure out the timestamp of expiry using the TTL for a key in redis. Since that value is seconds to expiry, adding that to current time gives me the answer.

[2020-10-06 16:05] trungdq88 commented on #15
Oh I see. This actually makes sense, thanks for sharing.
I'll try to support +-*/ operators in the next versions.

[2020-10-06 17:38] FNGR2911 commented on #16
Thank you, the reciepe landed in spam :)

[2020-10-06 17:38] #16 closed

[2020-10-07 12:53] tsmith-rv opened #17 "Feature Request: Regex"
I think something that would fit in perfectly with these tools is a simple regex match tester. Something like what you would find on https://regex101.com/, but without the explanation box or anything too complex, at least to start.

Just the two inputs for your pattern and your string to test against, along with a list of matches in the right side bar. Maybe even syntax highlighting the matches? I

[2020-10-07 17:26] travisbrigman opened #18 "Upon Run, the following compiler error appears: JSONTextView.swift: No such module 'Highlightr'"
not sure what the problem is.

[2020-10-07 17:38] travisbrigman commented on #18
got it working. followed this recommendation:
https://stackoverflow.com/questions/40743713/command-line-tool-error-xcrun-error-unable-to-find-utility-xcodebuild-n

[2020-10-07 17:38] #18 closed

[2020-10-08 13:31] Avalfr3d opened #19 "No such module 'ShortcutRecorder'"
Hi People,

with Xcode (Version 11.7 (11E801a)) fail build with this error:
**No such module 'ShortcutRecorder'**

<img width="715" alt="Screenshot 2020-10-08 at 3 30 18 PM" src="https://user-images.githubusercontent.com/68288974/95465265-31704200-097b-11eb-97bc-58a0b2f593d2.png">

[2020-10-09 00:35] trungdq88 commented on #17
Hi there,

Thank you for the suggestion! Regex tester is on the way, it won't be a full-blown regex analyzer like regex101.com but it will be enough for basic usages as you described.

Stay tuned for the new versions :)

[2020-10-09 00:36] trungdq88 commented on #19
Hi there,

Make sure you have run `carthage bootstrap --platform macOS` as noted in the build instruction.

[2020-10-09 07:10] Avalfr3d commented on #19
Hi @trungdq88

thanks!
Carthage was the problem (not installed).

Al

[2020-10-09 11:44] johncaling40 opened #20 "Signing error"
I get error
[code]
and
[code]

I have changed the Team in the Signing and Capabilities tab of the DevUtils project to my personal team. How do I fix this?

[2020-10-10 02:47] davidcann opened #21 "Feature Request: Lorem ipsum text generator"
Something like generator.lorem-ipsum.info to generate placeholder text would be useful.

Maybe add options to specifically include non-ASCII characters and emoji, which would be useful in testing software to ensure that string handling is correct.

[2020-10-10 03:25] trungdq88 commented on #11
Text Diff Checker is added to the app :)

![diff](https://user-images.githubusercontent.com/4214509/95644742-d48f9b80-0ae2-11eb-9676-0a225adbd5e5.gif)

[2020-10-10 05:07] audip commented on #11
Dope, will check it out. The turnaround time is impressive.

[2020-10-10 05:07] #11 closed

[2020-10-10 10:37] trungdq88 commented on #9
Hi Daniel, this is fixed from version 1.3.0. All the input texts in the app will not automatically substitute smart quotes and dashes. The JSON tool also automatically replace any smart quotes it found (you can disable this using the gear button in the tool).

![image](https://user-images.githubusercontent.com/4214509/95652971-2c4bf800-0b1f-11eb-95fd-49e036a27b11.png)

Thanks!

[2020-10-10 10:37] #9 closed

[2020-10-10 10:41] trungdq88 commented on #8
This is now supported as of version 1.3.0:
- Syntax error highlighting
- Support multi-lines JSON (from logs or JSON stream)
- Partially format the string where possible

This is it for now, there will be more improvements to the JSON tool in the future 😄

![image](https://user-images.githubusercontent.com/4214509/95652999-71702a00-0b1f-11eb-8743-3f99e5a3978b.png)

[2020-10-10 10:41] #8 closed

[2020-10-10 10:42] #19 closed

[2020-10-10 10:44] trungdq88 commented on #20
Hi there,
Can you try to set the signing to "Sign to run locally"? This article may also help https://developer.apple.com/support/code-signing/

[2020-10-11 05:18] trungdq88 commented on #21
Hi David,

Lorem ipsum is in the backlog and will be added soon. The non-ASCII characters and emoji generator is also interesting. I'll look into it :) Thanks for the suggestions!

[2020-10-11 05:26] trungdq88 commented on #13
Hope you have successfully built the app. Feel free to reopen if you have more questions.

Also, I'll really appreciate it if you could share the problems/workarounds during your build process, as it may help others to build the project.

Thanks!

[2020-10-11 05:26] #13 closed

[2020-10-11 06:57] sudo-suhas opened #23 "Provide option to switch inputs in diff checker"
This is a common feature I have seen on other diff tools and can be useful when we want to switch the base text to compare against.

The following is a screendhot from Intellij which can compare 2 selected files:
<img width="195" alt="image" src="https://user-images.githubusercontent.com/22251956/95672260-05440380-0bbd-11eb-828c-7feb4af0ac9d.png">

[2020-10-11 12:17] gvko opened #24 "Cannot build because of Highlightr missing framework schemes"
Hey there!

I'm trying to build your app locally on my Mac (Catalina 10.15.7). I run `carthage bootstrap --platform macOS` and I get the following output:
[code]

You can see it fails at building `Highlightr`. I checked out the [RobertoMachorro/Highlightr](https://github.com/RobertoMachorro/Highlightr) repo and it does have the `.xcodeproj` dir in the repo. I tried pointing the Cartfile.resolved t

[2020-10-11 12:57] johncaling40 commented on #20
I got it to work thanks. I had to change the thing in other places.

On Sat, Oct 10, 2020 at 6:44 AM Tony Dinh <notifications@github.com> wrote:

[2020-10-12 01:16] #20 closed

[2020-10-12 15:40] trungdq88 commented on #23
Hi, thanks for the feedback! I can see this is a very useful feature. Will add it in the next version. Cheers!

[2020-10-14 03:45] gozeon opened #25 "[Feat] QR Code Generator"
such as [link](https://www.the-qrcode-generator.com/)

[2020-10-14 13:47] FNGR2911 opened #26 "[Feature] URL encoder for CSS"
I love the css ready output from this tool: https://yoksel.github.io/url-encoder/
Would be something for extending the url encoder?

[2020-10-15 15:04] trungdq88 commented on #24
Hm, this is strange. This looks like an issue with your Carthage or Highlightr. Can you try to create a new Cartfile and install it independently to see if it work?

[2020-10-17 12:51] trungdq88 commented on #23
You can now swap inputs in 1.4.0 😊

[2020-10-17 12:53] trungdq88 commented on #15
You can now use math operators in the Unix Timestamp Converter tool 😊
![image](https://user-images.githubusercontent.com/4214509/96337563-5ae34900-10b2-11eb-9a17-8d25c7ba386a.png)

[2020-10-17 12:53] #15 closed

[2020-10-17 12:54] trungdq88 commented on #14
You can now format XML as of version 1.4.0 😊
Validation coming soon!

![image](https://user-images.githubusercontent.com/4214509/96337602-8cf4ab00-10b2-11eb-9e8e-367c5c55f370.png)

[2020-10-17 12:54] #14 closed

[2020-10-17 12:59] sudo-suhas commented on #23
Thank you and keep up the great work 🙂

[2020-10-17 13:00] sudo-suhas commented on #15
Thank you! Very happy that I purchased this app, love it and use it every day 🎉

[2020-10-22 11:24] rafaelnferreira opened #28 "[Feature] Conversion from/to Julian/Epoch dates"
Hello,

it would be very usefull to have a from/to epoch date conversion - many systems use this format to process dates (well at least the ones I've seem in my experience).

For reference, this website does the conversion:
http://www.toly.net/dayssince1970.html

[2020-10-22 15:21] PeterBurner commented on #7
the other way round would also be pretty useful
I often need to convert JavaScript Objects into JSON
unfortunately Quicktype can't do that 😞

[2020-10-22 15:41] PeterBurner opened #29 "[Feature] Color Converter"
It would be really useful to have a color converter in DevUtils
like https://www.w3schools.com/colors/colors_converter.asp
or https://convertacolor.com/

[2020-10-23 05:40] trungdq88 commented on #29
Hi there, thank you for the suggestion. This is well noted :)

[2020-10-23 05:43] trungdq88 commented on #28
The Unix Time Converter tool should already cover this, is there something you find missing?
![image](https://user-images.githubusercontent.com/4214509/96960690-37deec00-152d-11eb-935d-9dfd8da32a86.png)
![image](https://user-images.githubusercontent.com/4214509/96960716-475e3500-152d-11eb-887f-a9439d37db01.png)

[2020-10-29 17:56] varunarang commented on #24
I faced the same error and figured that XCode wasn't installed. :) Once installed, _carthage_ worked like a charm

[2020-10-29 18:44] varunarang opened #30 "Error while running project in XCode"
After _carthage bootstrap --platform macOS_ has run successfully and _signing & capability_ is configured fine, I try to run the project in Xcode and face the following error:

Is there a build or inclusion step I am missing here? Thank you for your support.

MacOS version: macOS Catalina
version 10.15.7
Xcode Version 12.1 (12A7403)

[2020-10-31 11:19] trungdq88 commented on #30
Hi there,
Sorry about the missing build instruction, this is a new framework introduced recently and I haven't updated the doc yet.

You need to build the `diff-match-patch` framework manually by opening the XCode project in the `google-diff-match-patch-Objective-C` directory. Then add the framework to the "Frameworks" folder in the main project like so:

![image](https://user-images.githubusercon

[2020-11-02 18:43] varunarang commented on #30
Thank you,

I built the project separately in a separate XCode window and then observed that it was already in there:

![image](https://user-images.githubusercontent.com/904409/97906223-4fa64380-1d69-11eb-9f32-002bdc0e3d9f.png)

It still gives me the same error. Thanks again for helping with build.

[2020-11-03 16:11] SalmonKing72 commented on #30
I was able to get this working by removing the reference to the DiffMatchPatch.framework. I built that project as described and then referenced the DiffMatchPatch.framework artifact after a successful from Products within the `google-diff-match-patch-Objective-C` Xcode project. Once it's referenced in the DevUtils project make sure it's set to `Embed & Sign` so that it's appropriately linked when

[2020-11-05 19:57] gvko commented on #24
Yep, that worked. Thanks! :ok_hand:

[2020-11-07 11:45] trungdq88 commented on #30
@varunarang Just checking, have you able to build the app? The description by @SalmonKing72 is very helpful as well. (Thanks, @SalmonKing72 !)

[2020-11-09 15:31] ace3 commented on #30
in my case, i'm using Xcode Version 11.6 (11E708)

1. Remove the reference of the old DiffMatchPatch.framework.
2. Open the **google-diff-match-patch-Objective-C** project, then build it.
3. On the left Menu, there is Product Folder, and have a DiffMatchPatch.framework.
4. Drag into the DevUtils Xcode Project, to replace the already removed DiffMatchPatch.framework.
5. If you are doing it correctl

[2020-11-12 14:41] varunarang commented on #30
Thank you for the followup @trungdq88. I kept struggling with Xcode v12.
After following through the setups by @ace3, I ended up getting this error:

And then, I retried using Xcode v11.6 after resetting the project code-base to revert changes. Though the project built successfully, it continued to show the below error on running:

Fatal error: 'try!' expression unexpectedly raised an error: Error

[2020-11-12 17:03] ace3 commented on #30
can you try to clean the derivated data first. then try redo building the app.

[2020-11-18 05:31] varunarang commented on #30
Thanks, I did remove/delete the Derived data directory and rebuilt the project. Still facing the same issue.

[2020-11-23 20:15] jamesjmtaylor commented on #30
This solution resolved my issue, with one additional step not mentioned.

7. Go into the target's General tab. From there select the Embedded Binaries field and add the dragged-and-dropped framework from step 4.  You can read more here: https://stackoverflow.com/questions/24333981/ios-app-with-framework-crashed-on-device-dyld-library-not-loaded-xcode-6-beta

[2020-11-25 00:48] devutils2 opened #32 "Cheaper version :D"
i have released cheaper version :D of devutils its 5 dolar only come on get it! https://devutils2.app/

[2020-11-25 14:19] #32 closed

[2020-11-25 14:31] trungdq88 commented on #32
Hi there,

Please note that the source code is only available for auditing and personal use. Which means you don't have permission to redistribute the app.

You can view the license of this software here: https://github.com/DevUtilsApp/DevUtils-app/blob/master/LICENSE.md

Please remove the download link on your website.

Thank you.

[2020-11-28 18:28] guizai commented on #30
try
[code]

[2020-11-28 18:37] guizai commented on #30
try
[code]

[2020-11-30 05:06] DavidPhillipOster commented on #25
https://old.reddit.com/r/swift/comments/ce5lvy/does_anybody_know_a_good_api_for_generating_qr/etzzy9q/?context=3 is an example of how easy this would be to do, since the CoreImage framework is doing all the hard work.

[2020-12-01 10:41] onezens commented on #30
thx, works for me

[2020-12-09 07:20] jreegun opened #36 "[Feature] URL/IP Defanger"
URL/IP defanger to mask the the domain and IP for sharing

[2020-12-12 07:44] DanielGibbsNZ commented on #30
Just a note that when dragging `DiffMatchPatch.framework` into the DevUtils Xcode project, it only worked for me when I checked "Copy items if needed".

[2020-12-13 02:37] trungdq88 commented on #17
@tsmith-rv Just want to let you know, you can now use DevUtils with Regex :)

![image](https://user-images.githubusercontent.com/4214509/102001624-cb12f180-3d26-11eb-9dbf-b0cc39c9e7fa.png)

You can follow the app's update on Twitter to receive more recent updates: https://twitter.com/devutils_app

Thanks!

[2020-12-17 03:45] tunguyen9889 opened #37 "[Feature] Regex pattern test for multiline"
Hi there,

Thanks for awesome tool, I just bought it! It would be great if the Regex tester can work for multiline. Attached the screenshoot about my usecase.

![Screen Shot 2020-12-17 at 6 49 19 PM](https://user-images.githubusercontent.com/18132847/102484286-9d1c0d00-4098-11eb-90ad-1c3f4db5a5fc.jpg)

Thanks,
James

[2020-12-17 13:14] trungdq88 commented on #37
Hello James,

Thank you very much for your purchase!

The tool is using the [ICU regex engine](https://developer.apple.com/documentation/foundation/nsregularexpression), so if you want to match multiline, the `?m` flag need to be enabled. You can do that by clicking the small gear icon and tick the option as below:

![image](https://user-images.githubusercontent.com/4214509/102492400-36045580-40a4

[2020-12-17 14:06] trungdq88 commented on #30
I just push the prebuilt `DiffMatchPatch.framework` to the repo so I hope this won't be a problem anymore. The project should be build and run-able without manually build for the DiffMatchPatch library.

Feel free to reopen this if you still have problems with it.

[2020-12-18 02:08] dinhquochan opened #39 "Crash app on Number Base Converter"
### Description

Crash app on Number Base Converter feature

### Steps to reproduce

1. Open DevUtils
2. Choose **Number Base Converter**
3. On fields: Base 2, 8, 10, 16 -> Type <number>
4. Crash app

![image](https://user-images.githubusercontent.com/9979458/102565672-81ece400-4110-11eb-97f1-09b27cfbea82.png)

### Environment

* Version: 1.6.0
* OS: macOS 11.1

[2020-12-18 02:18] dinhquochan opened #40 "JSON Beautify should be UTF-8 decoded"
Actual:

![image](https://user-images.githubusercontent.com/9979458/102566330-e8263680-4111-11eb-945f-05c7d5a43476.png)

Expect:

![image](https://user-images.githubusercontent.com/9979458/102566356-f5dbbc00-4111-11eb-808e-fe11e1162a3e.png)

[2020-12-18 05:05] trungdq88 commented on #39
Hi @dinhquochan, thank you very much for reporting the issue. Can you help send the crash log via my email so I can inspect it further? tony@devutils.app

Looks like it only happens on Big Sur, do more testing on this. Thanks!

[2020-12-18 05:10] trungdq88 commented on #40
Thank you for reporting! This is well noted and should be updated in the next versions.

[2020-12-18 08:55] tunguyen9889 commented on #37
Thanks for your quick reply! It works as expected!

[2020-12-19 02:41] quocthinh212 opened #41 "[Feature] Convert JSON into gorgeous, typesafe code in any language."
Convert JSON into gorgeous, typesafe code in any language.
Like https://github.com/quicktype/quicktype
and http://www.jsoncafe.com/

[2020-12-19 10:26] trungdq88 commented on #39
This should be fixed now in version 1.6.1. Thank you very much for reporting! Feel free to reopen if you still have this problem.

Thanks.

[2020-12-19 10:28] trungdq88 commented on #41
Hi there,

Thank you for your suggestion. There is already an issue created for this (https://github.com/DevUtilsApp/DevUtils-app/issues/7), so I'll close this one as it is duplicated.

Thanks.

[2020-12-19 10:28] #41 closed

[2020-12-20 13:13] kenji21 opened #42 "strlen feature"
Thanks for this nice tool

Sometimes I need to know how long is a string, using https://www.strlen.nl is possible, but pasting data online.... this feature is in the idea of DevUtils

[2020-12-20 15:20] trungdq88 commented on #42
Hi there,

Thank you for the suggestion. This seems to fit very well in one of the tools I have in the roadmap which shows things like words count, char code, etc.

I have noted this down. Stay tuned for the new versions :)

[2020-12-23 09:56] lemonmojo opened #44 "[Feature] Allow to disable global hotkey"
I don't need or want the global hotkey, so please let us disable it altogether.
Of course I can set it to some key combination that I'd never use but that is pretty much a hack.

[2020-12-23 10:00] lemonmojo opened #45 "[Feature] Remember tool settings between app restarts"
Some tools offer settings that are currently not persisted and reset to their default values after restarting the app.
For instance, all the beautify/minify tools offer a setting to control the number of spaces or tabs. But that setting resets to its default value after restarting the app.

[2020-12-23 10:17] #7 closed

[2020-12-23 11:19] #17 closed

[2020-12-28 02:43] pnminh92 opened #47 "[Feature] User agent info"
It would be nice, if the tool supports fetching user's device, os from user agent

[2020-12-28 18:44] shecode-ctrl commented on #47
I don't get

[2020-12-31 16:41] eluce2 opened #48 "JSON to JS converter"
**Feature Request:** could you add a utility to convert JSON to a Javascript object? This mostly involves removing quotes from the JSON keys. I currently use [this website](https://json-to-js.com) a lot and would love to be able to do this in your app offline!

[2021-01-02 10:12] trungdq88 commented on #48
Hello there, thank you for the suggestion. This seems like a good tool to add to the list 👍  I'll note this down. Thanks!

[2021-01-05 10:27] revolter opened #50 "Add favourite tools support"
It would be nice if you could have a separate list of favourite tools, so they're easier to access, especially when searching a couple of letters gives you more than 1 result, and you have to scan all of them to figure out which one you actually need.

[2021-01-05 10:27] revolter commented on #45
Isn't this fixed?

[2021-01-05 10:28] revolter commented on #21
Isn't this fixed?

[2021-01-05 14:39] trungdq88 commented on #21
Yep it is. @davidcann Now you can generate stuff from version 1.7.0:

![image](https://user-images.githubusercontent.com/4214509/103658855-5c7c2900-4f9e-11eb-9d63-7b43da9db6ed.png)

Cheers!

[2021-01-05 14:39] #21 closed

[2021-01-05 14:40] trungdq88 commented on #21
Special characters, emoijs, and a few other string related feature is planned in another tool "String generator". Stay tuned 😄

[2021-01-05 14:43] trungdq88 commented on #50
Hi there!

Absolutely, this will be soon available.

Thanks for the suggestion 😄

[2021-01-05 14:47] lemonmojo commented on #44
@trungdq88 Awesome, thx!

[2021-01-05 14:48] lemonmojo commented on #45
@trungdq88 Awesome! Already tested and working fine so far. Thx!

[2021-01-05 14:51] trungdq88 commented on #45
So the symlink sync works? That's great! 😄

[2021-01-05 14:52] lemonmojo commented on #45
@trungdq88 Oh sorry, wasn't clear about that, I just tested the persistence of the tool settings, not syncing.

[2021-01-05 14:55] trungdq88 commented on #45
Oh okay, it's fine. I'll give it a test later.

[2021-01-05 15:10] revolter commented on #45
I can't find it:

![image](https://user-images.githubusercontent.com/5748627/103662730-f7620c80-4f78-11eb-8cf6-38cc2c05f5ee.png)

[2021-01-05 15:12] trungdq88 commented on #45
@revolter It's in 1.7.1. If you are using DevUtils from App Store or Setapp, it will take a few more days for their approval 😅  Sorry about that.

[2021-01-05 15:13] trungdq88 commented on #45
![image](https://user-images.githubusercontent.com/4214509/103662974-27260a00-4fa3-11eb-9927-2e1c59870420.png)

Looks like this btw

[2021-01-05 21:19] davidcann commented on #21
Great work!

[2021-01-06 09:16] revolter opened #51 "Add tools keywords for search"
For example, it would be nice if, when searching for "binary" or "decimal", the "Number Base Converter" tool would show up.

[2021-01-06 14:16] trungdq88 commented on #51
Hi there! This is a very good suggestion. Thank you, added to to-do list 😄

[2021-01-10 12:52] revolter opened #52 "Add QR code encoder/decoder"
Maybe by pasting/dragging an image, or pasting a link to an image.

[2021-01-12 16:05] trungdq88 commented on #52
Thanks for the suggestion! There is already a request for this (https://github.com/DevUtilsApp/DevUtils-app/issues/25) so I'll close this one. Let me know if you have any concerns.

[2021-01-12 16:05] #52 closed

[2021-01-12 16:23] revolter commented on #52
Sorry 🙈 I must have forgotten to search an existing issue before creating this.

[2021-01-12 21:16] ivy-derm opened #53 "[Feature] Css to Stylus (and other preprocessors) Compiler and Decompiler"
Feature request to compile and decompile css preprocessors would be great. Personally I just would like Stylus support.

Examples: http://beautifytools.com/stylus-compiler.php or https://jsonformatter.org/css-to-stylus

Thanks!

[2021-01-14 11:36] ajaegers opened #54 "[Feature] Add unserialize/serialize PHP objects"
It's such common as a PHP developer to convert or edit (a nightmare) serialized objects stored in database or everywhere else.
https://www.php.net/manual/en/function.unserialize.php

On MacOs, there's php installed by default, so would be pretty easy to do.

### Unserialize
`tmp_serialized.txt` content:
[code]
Unserialize it in command line:
`php -r "var_export(unserialize(file_get_contents('tmp_s

[2021-01-14 11:37] ajaegers opened #55 "[Feature] Add PHP unserialize/serialize"
It's such common as a PHP developer to convert or edit (a nightmare) serialized objects stored in database or everywhere else.
https://www.php.net/manual/en/function.unserialize.php

On MacOs, there's php installed by default, so would be pretty easy to do.

### Unserialize
`tmp_serialized.txt` content:
[code]
Unserialize it in command line:
`php -r "var_export(unserialize(file_get_contents('tmp_s

[2021-01-14 13:15] trungdq88 commented on #55
Hi there! Thanks for the suggestion and the details, this is noted 😄

[2021-01-14 13:16] trungdq88 commented on #54
Hello, looks like this is a duplicate of https://github.com/DevUtilsApp/DevUtils-app/issues/55

[2021-01-25 05:28] mittalyashu opened #56 "Other types of ID generators"
* ObjectID
* nano ID _(https://www.npmjs.com/package/nanoid)_

[2021-01-25 05:29] mittalyashu commented on #29
Having different types of colour format:

* HEX
* RGBA
* HSLA

[2021-01-26 09:43] mittalyashu opened #57 "[feature request] Add explanation to Regex tester"
![image](https://user-images.githubusercontent.com/29014463/105828206-e12ff500-5fe8-11eb-8ffb-ac8f6ac6b774.png)

[2021-01-27 10:08] whjvenyl opened #58 "decode public-keys from jwt-token"
Using jwt.io and pasting in a valid token, the public key signature will get extracted / displayed.
Would be nice, if the devutils-app would support that as well using an implementation as follows: https://stackoverflow.com/questions/39890232/how-to-decode-keys-from-keycloak-openid-connect-cert-api

[2021-02-04 20:23] wedi opened #59 "Show information on certificates"
It would be cool if DevUtilsApp had a feature to decode certificates. Nobody wants to paste private certificate keys into some random website and trying to remember the correct openssl command to decode a certificate is a pain in the behind.

Maybe you can leverage macOS's [QLPreviewController](https://developer.apple.com/documentation/quicklook/qlpreviewcontroller) which supports certificates.

[2021-02-05 12:53] trungdq88 commented on #59
Hi there! This is a good suggestion, I'll note this down. Thanks :)

[2021-02-05 12:54] trungdq88 commented on #25
@gozeon  @DavidPhillipOster If you are using the direct download version, opt-in for 1.8.0 beta to try out the new QR Code Generator 😄

![CleanShot 2021-02-05 at 19 54 19@2x](https://user-images.githubusercontent.com/4214509/107036273-f1678180-67eb-11eb-8cd3-8b2ca128aa26.png)

[2021-02-05 12:56] trungdq88 commented on #42
@kenji21  If you are using the direct download version, opt-in for 1.8.0 beta to try out the new String Inspector tool 😄

![image](https://user-images.githubusercontent.com/4214509/107036376-2378e380-67ec-11eb-95ae-0c178957b793.png)

[2021-02-05 12:56] #45 closed

[2021-02-05 12:58] trungdq88 commented on #51
@revolter If you are using the direct download version, opt-in for 1.8.0 beta to try out the new search 😄

GIF: https://twitter.com/i/status/1357600821920157700

[2021-02-05 13:00] trungdq88 commented on #50
@revolter you can now manage your favorite tools. Opt-in for 1.8.0 beta to give it a try 😄
![CleanShot 2021-02-05 at 20 00 22@2x](https://user-images.githubusercontent.com/4214509/107036820-ca5d7f80-67ec-11eb-826a-7b1df9eb9ecc.png)

[2021-02-05 23:44] revolter commented on #51
I installed it from the App Store, so I'll wait for the official release 😃

[2021-02-05 23:46] revolter commented on #50
Hmm, does this mean that deselecting a tool from that "Manage Tools" window causes it to completely disappear from the main window?

[2021-02-06 01:50] trungdq88 commented on #50
Hi, yes, that's what the Manage Tools do 😄

I'm looking to add more features to categorize tools or create custom tool lists soon.

PS: for now, you can also reorder the tools list to move your favorite tools to the top.

[2021-02-06 12:56] jlarmstrongiv opened #60 "[Feature] Close app when clicking menu bar app icon"
Many apps that live in the menu bar can be clicked to open.  But, they can also be clicked to close (if they’ve been opened).  Would be a nice usability touch to add 😄

(So, when the app is open, clicking the menu bar icon would close all open windows)

Examples:
- https://www.glyphfinder.com/
- https://usecontrast.com/
- https://rogueamoeba.com/soundsource/

[2021-02-06 12:59] jlarmstrongiv opened #61 "JSON stringifier / parser"
Often times, whether it’s debugging requests or setting up json configs, I kept wishing I had this little utility.

Related #48.  But in addition to a parser, also a stringifier

[2021-02-06 13:12] trungdq88 commented on #61
Hi there 👋

Can you elaborate on what would a "JSON stringifier" do or provide an example input/output? Thanks!

[2021-02-06 13:14] trungdq88 commented on #60
Hello John, thanks for the suggestion. This is actually very helpful. Noted. 😄

[2021-02-06 13:32] jlarmstrongiv commented on #61
Sure

For example, I’m using a plugin called [headwind](https://github.com/heybourn/headwind) that allows for custom regex configuration.  I need to write the regex, and then stringify it.

Input:
[code]
Output:
[code]

I also stringify when debugging requests with postman or insomnia, as I send JSON payloads a lot.

The input can be a string, boolean, number, array, or object from JavaScript (as

[2021-02-07 03:49] trungdq88 commented on #61
Ah I see, thanks for elaborating.

For stringifier, if I understand it correctly, it means you want to escape the reserved character in a JSON string, right?

Do you think the existing tool "Backslash Escape/Unescape" can do it? For example:

![image](https://user-images.githubusercontent.com/4214509/107135924-609abe00-6931-11eb-81a6-75f27dc2abe4.png)

Can you test it out with a few cases and let

[2021-02-07 15:17] jlarmstrongiv commented on #61
Not quite, the main goal is converting the aforementioned JSON <=> Javascript.  So both a stringifier and a parser.

The datatypes are normally objects and arrays, but also strings, booleans, numbers, null, and others.

The Backslash Escape/Unescape also doesn’t handle edge cases like converting undefined to null.  It’s also soooooo much more convenient to just copy pasta my entire clipboard rathe

[2021-02-07 15:40] trungdq88 commented on #61
I see. This is well noted :) Thanks for the suggestion!

[2021-02-08 10:48] olemagnus opened #62 "[Feature] CSV to JSON"
A lot of tools that scrape and crawl websites use CSV for exporting data. We often use JSON when importing data so we end up converting CSV to JSON a lot.

It would be nice if there was a feature similar to YAML to JSON, but CSV to JSON instead.

Examples:

* https://csvjson.com/csv2json
* https://www.convertcsv.com/csv-to-json.htm

[2021-02-08 12:30] trungdq88 commented on #62
Hi there, thank you for the suggestion!

CSV/JSON converter tool is in the roadmap and will be added soon! 😄

[2021-02-09 16:28] trungdq88 commented on #51
1.8.0 is out, closing this now 😄

@revolter the App Store update may come in a bit late, I can't control it as the App Store reviewer needs some "additional time". Sorry in advance.

[2021-02-09 16:28] #51 closed

[2021-02-09 16:29] trungdq88 commented on #25
1.8.0 is out! 😄

[2021-02-09 16:32] trungdq88 commented on #50
1.8.0 is out! https://devutils.app/changelog

@revolter I'm keeping a private note for "tool categorizing and custom tool list". However, if you prefer to be notified when it's out, feel free to create another issue, I'll update it as it goes. Thanks 😄

[2021-02-09 16:32] #50 closed

[2021-02-09 16:32] trungdq88 commented on #42
1.8.0 is out! https://devutils.app/changelog 🎉

[2021-02-09 16:42] revolter commented on #50
Congrats! 🎉

Ok 👍🏻

[2021-02-09 21:51] panckreous opened #63 "Preferences window getting cut off"
13" m1 w/ Big Sur 11.2

<img width="428" alt="Screen Shot 2021-02-09 at 1 49 03 PM" src="https://user-images.githubusercontent.com/208280/107433184-df345e80-6add-11eb-88b7-3866a0c84f2d.png">

[2021-02-10 03:42] trungdq88 commented on #63
Whoops, thank you for reporting, Dan. A fix will be out soon! 🙏

[2021-02-10 07:56] panckreous commented on #63
Confirmed fixed in 1.8.1. Eesh that was fast.

[2021-02-10 08:06] panckreous commented on #29
Color Snapper (https://colorsnapper.com) has an amazing implementation of this. Attached are a few screenshots (I couldnt expand the window) of some of their conversion options and settings.

![Screen Shot 2021-02-10 at 12 02 50 AM](https://user-images.githubusercontent.com/208280/107481667-6c55d280-6b33-11eb-9194-3b6e5fbe129d.png)
![Screen Shot 2021-02-10 at 12 02 41 AM](https://user-images.githu

[2021-02-10 09:26] trungdq88 commented on #63
Yep the 1.8.1 should fix it now 😄

[2021-02-12 07:45] mittalyashu opened #64 "[feature] option to remove comments for output"
For example:

**Input**

[code]

**Output**

[code]

I think this feature can be added for other formatters too.

[2021-02-12 16:07] trungdq88 commented on #64
Hi there! Thanks for the suggestion, I think this will be a nice addition. Noted.

[2021-02-14 08:09] EtherTyper opened #65 "Not "Open Source""
I'm not a stickler myself, but you probably should not label your software as open source. The new license restricts selling and publishing modifications to software, so "source available" is a more accurate term.

https://en.wikipedia.org/wiki/Open-source_software
https://opensource.org/osd

Edit: Love your app by the way, thanks for all the work you do on it! I use it frequently.

[2021-02-14 08:48] trungdq88 commented on #65
Hi there! You are absolutely right. I didn't notice that the term "open source" now (strictly?) refers to the [Open Source Definition](https://opensource.org/osd).

I'll update README and website description to avoid any potential unnecessary debates 😄 .

 Thanks!

[2021-02-14 09:05] trungdq88 commented on #65
Updated

[2021-02-14 09:05] #65 closed

[2021-02-15 19:25] olemagnus opened #66 "JSON Format/Validate crashes from big invalid files"
I'm trying to validate a 23000 line JSON file which contains about 4MB .
I only get the beachball loading cursor and I have to force quit if it contains any errors. It takes a minute if its valid, but slows my computer down making me think something went wrong.
The online tools I've used before handles these files fine.

[2021-02-16 04:27] trungdq88 commented on #66
Hi there, thanks for reporting! This is a known issue and is prioritized at the moment. The next versions will have a better way to handle big input.

[2021-02-20 03:02] unnamed777 opened #67 "[Feature] SQL beautifier"
I'd like to have a SQL beautifier to convert long unreadable string to well formatted query.

[2021-02-25 05:52] aurrak opened #68 "[Feature] Allow conversion of timeIntervalSinceReferenceDate for Unix Time Converter"
I often find myself needing to convert date format between NSDate's timeIntervalSinceReferenceDate back to other time format.

For example,
Input of `572852680.179807` would convert to:

Converting timestamp (572852680) in seconds:
GMT: Tuesday, February 26, 2019 5:44:40 AM
Your time zone: Monday, February 25, 2019 9:44:40 PM GMT-08:00

There is a couple websites that offer this functionality, see

[2021-02-25 12:53] trungdq88 commented on #68
Thanks for the suggestion. This could be a good addition to the current time converter tool 👍

[2021-03-09 21:13] metal-gabe opened #69 "[Feature] Character Counter"
As the title says, it would be awesome if this app had a built-in character counter. I've been using this site: https://www.charactercountonline.com/. And while it's been very useful, I'm still pasting my text into some "random" website that somebody else owns. :-)

I've attached an image that shows the features it has. It would be great if DevUtils could incorporate something similar. :-)

![coun

[2021-03-10 01:00] trungdq88 commented on #69
There is a "String Inspector" tool that does exactly that (and a bit more) 😄

![image](https://user-images.githubusercontent.com/4214509/110559319-f323bc80-817e-11eb-847e-5b2c1f56994b.png)

Do you think this covers your feature request?

[2021-03-10 02:02] metal-gabe commented on #69
Oh nice, I'm just using the trial right now and didn't see this. The only
two missing features that I would like would be ignoring/not counting
filler words (e.g. a, an, the) and multi/international language support. 🙂

On Tue, Mar 9, 2021, 17:00 Tony Dinh <notifications@github.com> wrote:

[2021-03-10 02:05] trungdq88 commented on #69
@metal-gabe I see, those are pretty good additions to the tool. I'll note this down. Thanks!

[2021-03-17 12:14] bardonadam opened #70 "Missing space in minified @media only screen and (...){...}"
I was minifying CSS with `@media only screen and (...){...}` and the minified version wasn't working for me properly. Took me some time to figure out why, but DevUtils minified output for:
`@media only screen and (...){...}`
is
`@media only screen and(...){...}`

There is a missing space between `and` and `(`.

[2021-03-18 00:02] trungdq88 commented on #70
Hi there, thanks for reporting this. I'll take a look and fix it in the next version 😄

[2021-04-14 06:15] aescolastico opened #71 "RegExp Tester should highlight capture group text separately in the preview"
It is a common to use a reg exp to match a string and then use capture groups to highlight or "capture" specific portions of that matched string. Regex101.com does this. See example below:

![image](https://user-images.githubusercontent.com/30540257/114662541-da9b4a80-9cc6-11eb-9fd9-1f0ce1232120.png)

[2021-04-15 01:34] trungdq88 commented on #71
Hi there, thanks for the suggestion! This is something I want to add to the regex tool as well, stay tuned :)

[2021-04-25 05:49] aescolastico opened #72 "[Feature] Mac Appstore version?"
Are you guys at all able to public an App Store version?

[2021-04-25 06:25] trungdq88 commented on #72
Hi there! There is an App Store version, you can find it here https://apps.apple.com/us/app/id1533756032 😄

[2021-04-25 06:27] aescolastico commented on #72
Brilliant! Thanks

[2021-05-02 15:31] trungdq88 commented on #70
@bardonadam This is now fixed in 1.9.0 😄 Can you help check if it works now?

https://twitter.com/devutils_app/status/1388874971976409092

Feel free to reopen if the problem is still theree.

[2021-05-02 15:31] #70 closed

[2021-05-02 15:33] trungdq88 commented on #66
@olemagnus  This is now fixed in 1.9.0 😄 Can you help check if it works now?

https://twitter.com/devutils_app/status/1388874971976409092

Feel free to reopen if the problem is still there.

[2021-05-02 15:34] trungdq88 commented on #62
This is now available in 1.9.0, yay! https://twitter.com/devutils_app/status/1388874971976409092

[2021-05-02 15:34] trungdq88 commented on #60
@jlarmstrongiv This is now implemented in 1.9.0! 😊 https://twitter.com/devutils_app/status/1388874971976409092

[2021-05-02 15:34] #60 closed

[2021-05-05 06:46] figassis opened #73 "Your app download website is forcing customers to accept your newsletter. Please don't."
Some of use actually have already paid for the app, but can't redownload before accepting a newsletter. I don't want to accept and unsubscribe later, just don't want to accept.

[2021-05-05 07:00] trungdq88 commented on #73
This should be fixed now. Sorry for the inconvenience, Assis.

[2021-05-10 01:40] figassis commented on #73
Thank you, and thanks for the tool!

[2021-06-02 19:42] jlarmstrongiv opened #74 "String Utils"
Uppercase, lowercase, kebabcase, and more would be nice—I google for these utils all the time.  See https://www.npmjs.com/package/case

Would also be great to have a line sorter (ASC/DESC)

[2021-06-03 00:50] trungdq88 commented on #74
Thanks! This is in the roadmap! I'll let you know once it's available 😄

[2021-06-09 15:02] owenlejeune opened #75 "SIGABRT When Running From XCode"
I've setup signing with my personal ID but running the app from XCode is giving a SIGABRT 0__abort_with_payload on Thread 1. I'm also getting this output:

  Referenced from: /Users/owenlejeune/Library/Developer/Xcode/DerivedData/DevUtils-byofmcbxhvpfezasyyfoughnsluu/Build/Products/Debug/DevUtils.app/Contents/MacOS/DevUtils
  Reason: no suitable image found.  Did find:
	/Users/owenlejeune/Library/

[2021-06-12 05:58] trungdq88 commented on #75
Hi there. Have you try to run `carthage bootstrap --platform macOS`?

[2021-06-12 18:13] owenlejeune commented on #75
Yes, I ran `carthage bootstrap --platform macOS` and am still seeing this issue

[2021-06-23 12:56] trungdq88 commented on #10
Not quite the same, but DevUtils now allows JSON path queries! 😄 Check out 1.10.0 features.

https://newsletter.devutils.app/issues/html-jsx-json-path-and-more-in-devutils-1-10-0-591717

I'll still keep this issue open for the "hover to view JSON path" feature.

[2021-06-23 12:57] trungdq88 commented on #40
This is now possible in 1.10.0, yay!

See updates: https://newsletter.devutils.app/issues/html-jsx-json-path-and-more-in-devutils-1-10-0-591717

[2021-07-19 07:08] figassis opened #76 "[Feature] JSON to typescript types"
It would be awesome to be able to convert json objects into corresponding typescript types, like this tool https://jvilk.com/MakeTypes

[2021-07-19 07:09] figassis opened #77 "[Feature] JSON to golang types"
Similar to https://github.com/DevUtilsApp/DevUtils-app/issues/76, but for golang structs, like this tool: https://mholt.github.io/json-to-go

[2021-07-19 16:12] trungdq88 commented on #77
Thanks! I'll take note of this.

[2021-07-19 16:12] trungdq88 commented on #76
Thank you for the feature request, I'll look into this!

[2021-09-15 16:54] calendee opened #79 "[Feature] Add Keyboard Shortcut for Instant Clipboard Replace"
I use Instant Clipboard Replace ❤️ all the time. However, I'd really prefer not to have to use my mouse during this operation.

Here are several possible ways to implement this:

## Easiest(?)
1) Open the DevUtils to any tool that supports Instant Clipboard Replace
2) Copy something in my other app
3) Switch to DevUtils
4) Press some keyboard sequence to trigger Instant Clipboard Replace
5) Switch

[2021-09-15 17:00] calendee opened #80 "[Bug] Instant Clipboard Replace Doesn't Recognize HTML for Formatting"
When triggering the Instant Keyboard Replace by opening DevUtils with the Hotkey or via the menu bar icon, it does not recognize HTML for formatting.

Example HTML on my clipboard:

[code]

When I trigger DevUtils, it shows that "No tool was detected for this input (from clipboard)".

![CleanShot 2021-09-15 at 11 58 58](https://user-images.githubusercontent.com/57374/133477064-f167258a-e45a-451a-a

[2021-09-15 17:10] calendee opened #81 "[Feature] Add Custom URL Scheme Tool Selection & Options"
I'd really love for DevUtils to support macOS Custom URL Schemes so we could use other automation tools to trigger different functionality.

For example:

1. `devutils:///html-format`
- Open the DevUtils app to the HTML Formatting tool
2. `devutils:///html-preview`
- Open the DevUtils app to the HTML Preview
3. `devutils:///htmlformat?icr=true`
- Open the DevUtils app to the HTML Formatting tool a

[2021-09-16 01:49] trungdq88 commented on #81
Hi @calendee, thank you for this!

This is something I planned to add to DevUtils as well. It will make the integration with other apps much easier (Raycast, Alfred, Hammerspoon, etc.)

I'll keep this issue active and will let you know once it's available. Thanks! :)

[2021-09-16 01:54] trungdq88 commented on #80
Hi @calendee,

It's intended that the HTML input is not recognized. The reason is there are many tools that accept HTML string as an input (HTML format, HTML Preview, HTML to JSX, etc.).

I'm experimenting to improve this flow and I'm very excited to introduce it shortly. The new flow will be much shorter, more convenient, and keyboard-friendly. Stay tuned! 😄

[2021-09-16 01:58] trungdq88 commented on #79
Thanks for sending your suggestion!

I'm working on a new flow to trigger DevUtils tools that is much shorter:

1. Copy your data to the clipboard.
2. Press DevUtils' hotkey, which opens DevUtils and puts the focus on the "Quick Action" input.
3. Search for the tool you want to use by typing the tool name
4. Press Command-Enter (or Enter) and the new processed content will be replaced on the clipb

[2021-09-18 13:20] calendee commented on #79
Thanks for responding!

That sounds good to me as long as Step 2 defaults to the last used tool and pressing enter does the action.

[2021-09-18 13:20] #80 closed

[2021-10-08 14:16] suschizu opened #83 "Changed code signature in DevUtils version 1.12.0?"
Hello!
I've received a warning that the code signature has changed - can you verify it?
Thanks :)

[2021-10-08 14:21] suschizu commented on #83
hey @trungdq88  - great thanks <3
no - it's not a bug - I've written a script that checks code signature changes before updating an app - just because of security :) thanks for your fast answer!

[2021-10-08 14:25] trungdq88 commented on #83
That's great to hear! I almost have to stop the upgrade and have a heart attack 😂

Thanks for letting me know, and it's great that you are careful with the signature check!

If you don't mind, can you share your script with me? (tony@tdinh.me) I want to see how it works 😄

Thanks!

[2021-10-08 14:38] trungdq88 commented on #71
There is no highlight yet, but the Regex Tester tool is now (version 1.12) upgraded to support matching groups and named capture groups!

![CleanShot 2021-10-08 at 22 36 02@2x](https://user-images.githubusercontent.com/4214509/136575782-80e06d73-c3b7-49e2-8c92-40daf31ba27c.png)

I'll keep a separate ticket to track the next upgrade: regex syntax highlight and show more details when mouse hover to

[2021-10-08 14:38] #71 closed

[2021-10-25 02:58] zhongyiio opened #84 "Can the feature of password generator be added?"
Same as title.

[2021-11-02 20:30] stondini opened #85 "[Feature] Add jql expression to query a JSON document"
It should be great :)

[2021-11-03 02:30] trungdq88 commented on #85
Thanks for the suggestion! I have added this to the backlog :)

[2021-11-09 04:12] CyberMew opened #86 "Slug feature"
Similar to https://slugify.online/

I am using this for converting title to git branch names but it can have many uses as well, especially if it becomes very configurable

[2021-11-18 19:31] owenlejeune commented on #75
@haidarzhy that fixed my issue. Thanks!

[2021-11-23 09:36] suroegin opened #87 "Ethereum Wei converter for Blockchain developers, please :)"
Hello!

Can you add it? I will be very glad for that comfort feature...

[Here](https://github.com/ethereumjs/ethereumjs-units/blob/master/units.json) you can see units for the converter and [here](https://eth-converter.com/) the calculator which I use every day for developing smart contracts... But I want to see all converted units in one time, not only Wei. GWei and Ether...

Thank you,
with reg

[2021-11-24 00:49] trungdq88 commented on #87
Thanks for this! I'll consider adding this to DevUtils 😊

[2021-12-04 21:30] stevegrunwell opened #88 "[Feature request] Filesize conversions"
I'd love to see a simple filesize conversion utility — I found myself having to leave DevUtils to convert a "Exceeded maximum allowed memory of X bytes" error into something more human-readable (e.g. 134.2MB).

I've only been using DevUtils for a week, but I'm really enjoying it so far, so thank you!

[2021-12-05 02:04] trungdq88 commented on #88
This is very useful! Noted. Thanks!

[2021-12-07 07:42] revolter opened #89 "Incorrect Unicode value for emoji in the String Inspector tool"
The Unicode value for the character `👋` should be `U+D83D U+DC4B` instead of `U+1F44B`.

[2021-12-08 03:09] trungdq88 commented on #89
Hi @revolter, can you clarify this?

I'm not an expert at Unicode, but according to various sources, `U+1F44B` is the correct Unicode value for 👋.

https://www.compart.com/en/unicode/U+1F44B
https://unicode-table.com/en/1F44B/
https://www.fileformat.info/info/unicode/char/1f44b/index.htm

[2021-12-17 10:20] revolter commented on #89
I'm not an expert either 🙈

I was trying to create a regex for matching emojis, and my version worked, while the app's one didn't, and I thought that it's incorrect. After taking a better look on fileformat.info, I can see that my version is actually the UTF-16 encoding of it, while the app shows (I think) the UTF-32 encoding.

So maybe show them both?

[2021-12-17 10:22] trungdq88 commented on #89
Hmm, I see. Noted on this.

I'll consider adding an option to support this.

Thanks for letting me know!

[2022-02-04 14:56] milko opened #90 "Feature suggestion: convert among styled text, Markdown and HTML"
Just wanted to suggest a feature that would be very useful: being able to paste styled text from an RTF document, for instance, and being able to convert it into Markdown or HTML. The other way around would be very nice too. When I need to do so I use the Typora application, but such a feature would be really useful in your app.

[2022-02-05 14:54] trungdq88 commented on #90
Noted on this. Thanks for the suggestion! 😄

[2022-02-11 03:31] sircrumpet commented on #90
Adding a +1 to this request - I'd love to see a Rich Text / MS Word to HTML converter in DevUtils.

It's one of my most begrudgingly frequent "[paste into a random website](https://www.textfixer.com/html/convert-word-to-html.php)" fallbacks, especially when dealing with small text snippets provided by way of a Word Document etc.

Thanks for all your good work!

[2022-02-13 04:29] trungdq88 commented on #81
This is now available!

https://tdinh.notion.site/DevUtils-Integrations-df240e3728ae4ab0b02fbe8f6321b5fb

[2022-02-18 19:14] stormforgesushil opened #91 "[Feature] CIDR block conversion"
Please add a networking tool that converts IP addresses to CIDR blocks and vice versa. For example, 192.168.0.0/19 == 192.168.0.0-192.168.31.255. There are a lot of these web pages, a search will bring up examples.

[2022-03-29 06:27] #54 closed

[2022-04-03 16:28] stondini commented on #85
This tool could be a `jql` alternative: [mistQL](https://www.mistql.com)

[2022-04-04 13:02] flom opened #92 "[Feature Request] Allow multiple windows/instances"
Hi,

it would be useful if we could open multiple instances/windows at the same time similar on how other applications are doing it (via `⌘N`):
![Screenshot 2022-04-04 at 14 51 49](https://user-images.githubusercontent.com/1230900/161548603-c880afec-e05e-4fd9-b020-029ad0980eac.png)

Sometimes I need multiple tools at the same time or the same tool twice like the JSON Format for different json stri

[2022-04-05 02:48] trungdq88 commented on #92
Noted. This will be possible in soon!

[2022-04-08 04:19] #37 closed

[2022-04-11 13:14] trungdq88 commented on #84
Now available in version 1.14! 🥳

![CleanShot 2022-04-11 at 20 13 58@2x](https://user-images.githubusercontent.com/4214509/162747140-e524dc7f-a2ab-4447-accc-3e7f5f019149.png)

<img width="434" alt="CleanShot 2022-04-11 at 20 14 15@2x" src="https://user-images.githubusercontent.com/4214509/162747185-1c302568-b198-440e-a71f-6940c0f7a227.png">

[2022-04-11 13:20] trungdq88 commented on #29
Now available in [version 1.14](https://devutils.app/changelog/) 🥳

<img width="1332" alt="CleanShot 2022-04-11 at 20 19 45@2x" src="https://user-images.githubusercontent.com/4214509/162748116-edf4224a-16e6-4126-8947-797f2c370277.png">

[2022-04-11 13:31] CyberMew commented on #86
Nice. Can we further customise it to remove numbers or change it to underscores and such in the future?

[2022-04-11 13:36] CyberMew commented on #86
Oh that would be nice 👍

[2022-04-19 14:40] revolter opened #93 "Incorrect app name on macOS"
The latest version has the app name `DevUtilsAppStore.app`, which I guess is not an intended change from the previous `DevUtils.app`.

[2022-04-19 15:03] trungdq88 commented on #93
Noted on this, thanks for reporting!

This is a side effect of a recent change in the app. It should not affect any functionalities of the app.

I'll look into making it back to `DevUtils.app` in the next version.

[2022-05-08 20:49] ajaegers commented on #55
Thanks a lot 🎉 👏

[2022-05-11 16:11] mittalyashu opened #94 "[feature] File size conversion"
**For example:** bytes to KB, KB to GB, ...

[2022-05-11 16:12] mittalyashu commented on #94
Correct me if I'm wrong, this feature request might be similar to https://github.com/DevUtilsApp/DevUtils-app/issues/88#issue-1071299242 🤔

[2022-05-11 16:13] mittalyashu commented on #86
@trungdq88 You'll not believe, I had literally created a simple JS functional in jsfiddle to convert string into slug.

This will really save me lot of time, thanks man.

[2022-05-11 16:38] trungdq88 commented on #94
yep, this is a duplicate 😄

[2022-05-17 12:20] calendee commented on #79
Awesome! Thanks so much for adding this feature.

[2022-05-17 12:22] calendee commented on #81
🎉

[2022-05-21 03:20] trungdq88 commented on #79
Glad it helps! I'll like to keep this page open (I only close invalid/duplicate issues) 😄

[2022-06-15 07:22] yaoyi2008 opened #95 "Highlightr error"
$ carthage bootstrap --platform macOS
*** Checking out ShortcutRecorder at "3.3.0"
*** Checking out Highlightr at "2.1.1"
*** xcodebuild output can be found in /var/folders/b6/3p4psc6x6fnbv84226snn34c0000gn/T/carthage-xcodebuild.BD8bfM.log
*** Downloading ShortcutRecorder binary at "3.3.0 (2020-07-12)"
*** Skipped building Highlightr due to the error:
Dependency "Highlightr" has no shared framewor

[2022-06-16 09:24] jlarmstrongiv opened #96 "feature 🎸: add html to jsx convertor"
Example:
- https://transform.tools/html-to-jsx
- https://www.npmjs.com/package/htmltojsx

Source code:
- https://github.com/ritz078/transform/blob/4ebf5472cdadf32cb7950b69e12c673d077f26f8/pages/html-to-jsx.tsx
- https://github.com/reactjs/react-magic/blob/master/src/htmltojsx.js

Would be very helpful for many frontend frameworks (in my case, react)

[2022-06-16 09:28] jlarmstrongiv opened #97 "feature 🎸: custom links in sidebar"
Often, DevUtils might not have the utils I need, related https://github.com/DevUtilsApp/DevUtils-app/issues/96

Usually, I can find some obscure tool online that has what I need.  Usually, I need that tool more than once.

I would like DevUtils to help me keep track of useful tools that aren’t yet built into the app.  It would be great to add a custom title, description, and link in the sidebar an

[2022-06-20 04:01] trungdq88 commented on #97
This is noted, I'll consider. Thank you for the suggestion!

[2022-06-20 04:03] trungdq88 commented on #96
Hi @jlarmstrongiv, HTML to JSX is already in the app.

![image](https://user-images.githubusercontent.com/4214509/174523056-43aacc3a-6a4a-4a1b-82ff-472ca2f8ae2a.png)

Was there any issue with the search feature? I'm curious why you think the tool is not available, so I can make it more obvious for other people.

Thanks!

[2022-06-20 04:05] trungdq88 commented on #95
Hi @yaoyi2008, due to limited time, I will not be able to help with build issue. Sorry.

[2022-06-20 04:05] #95 closed

[2022-06-20 04:05] jlarmstrongiv commented on #96
Oh snap!  I guess because it’s at the bottom of the list?  Thanks!

<img width="298" alt="image" src="https://user-images.githubusercontent.com/20903247/174523240-acce7d3a-4dfd-45be-98f0-05b76373069d.png">

[2022-06-20 04:07] trungdq88 commented on #96
I see. There is an issue with the fuzzy search at the moment, you can try to disable fuzzy search to have better result.

![CleanShot 2022-06-20 at 11 07 35](https://user-images.githubusercontent.com/4214509/174523491-ecdd1e04-461d-43c6-8047-bff8251a3ebe.png)

Sorry about this inconvenience!

I'd like to reopen this issue so other people can benefit from searching it.

[2022-06-28 16:39] kinghuang opened #98 "Feature request: Hide input area"
I'm trying out DevUtils for JSON formatting. Using the service via `Command \` is super handy. But, in these cases, I don't want to see the input in DevUtils. I'd like to have DevUtils only show the formatted output. I'd like an option to hide the input area.

[2022-06-29 02:58] trungdq88 commented on #98
This is noted, I'll look into this. Thanks for the suggestion!

[2022-07-08 15:53] trungdq88 commented on #92
This is now possible in DevUtils 1.15 :D

https://newsletter.devutils.app/issues/devutils-1-15-multi-window-curl-to-code-svg-to-css-and-more-1131132

[2022-07-08 15:55] trungdq88 commented on #26
It's now available 😄

https://newsletter.devutils.app/issues/devutils-1-15-multi-window-curl-to-code-svg-to-css-and-more-1131132

[2022-07-23 08:20] #39 closed

[2022-07-25 08:14] jlarmstrongiv commented on #76
@trungdq88 Here’s two other examples:
- https://app.quicktype.io/
- https://transform.tools/json-to-typescript

Along with an implementation:
- https://github.com/ritz078/transform/blob/master/pages/json-to-typescript.tsx

Based on https://github.com/evestera/json_typegen which supports other useful outputs like json schema too

[2022-08-02 15:48] jools-r opened #99 "Feature idea: SVG Hush"
It’s early days yet, but might SVG Hush be a good match for DevUtils?

https://github.com/cloudflare/svg-hush

[2022-08-03 03:17] trungdq88 commented on #99
This makes sense. Noted 😄

[2022-08-04 02:32] LocNguyenHuu opened #100 "Maybe DevUtils can not work on the right way on M1"
Need your supporting to help me fix this error when I try to build DevUtils on my Macbook 14" M1.
Google, stackoverflow gave many solutions but still not working.

<img width="1022" alt="image" src="https://user-images.githubusercontent.com/9362970/182750169-c8d3ea96-8c9e-4a60-a633-b6ecf24c0b79.png">

[2022-08-04 05:45] trungdq88 commented on #100
Hi @LocNguyenHuu, I'm unable to provide support regarding build issues. Sorry!

[2022-08-04 05:45] #100 closed

[2022-08-31 13:30] joh-klein opened #101 "[Bug] Shortcut in search bar is not localized"
In my search bar it says `Search… (⌘/)` but in the Tools Menu it says `Search        ⌘ß`. The latter is correct :)

[2022-09-06 09:17] trungdq88 commented on #101
Noted on this. Thanks for reporting!

[2022-09-22 22:27] rfscouto opened #102 "Launch at login not working"
Hi,

I have checked "Launch at login" but unfortunately DevUtils does not launch.
I also tried adding this manually to the login items of MacOS, but the app is not added there.

Currently running the Developer Beta 8 of MacOS Ventura (13.0) on a M1.

[2022-09-22 22:49] h4rk8s opened #103 "error build: Undefined symbol"
`error build: Undefined symbol: _OBJC_CLASS_$_Diff

error build: Undefined symbol: _OBJC_CLASS_$_DiffMatchPatch

error build: Undefined symbol: _OBJC_CLASS_$_SRRecorderControl

error build: Undefined symbol: _OBJC_CLASS_$_SRShortcut

error build: Undefined symbol: _OBJC_CLASS_$_SRShortcutValidator

error build: Undefined symbol: _OBJC_CLASS_$_SUUpdater

error build: Undefined symbol: _OBJC_METACLA

[2022-09-23 02:11] #103 closed

[2022-09-23 02:12] trungdq88 commented on #102
Hi there!

Can you check if the app has been moved to the Applications folder?

[2022-10-04 07:07] rfscouto commented on #102
Hi, sorry for the late reply.
The app is in the Applications folder.

[2022-10-04 19:13] driverkt opened #104 "ASN.1/BER/DER Decoder"
I'm interested in support for ASN.1 decoding.

Use case: assume you have a certificate dump from openssl (or another source) -- base64 decode and then parse the encoding of the certificate.

The output could be accomplished with indented whitespace or a tree-view:
<img width="1330" alt="186574013-e9a502fe-9e1c-446d-9d68-f9ed3fec2bcf" src="https://user-images.githubusercontent.com/1783591/193905494

[2022-10-06 04:19] trungdq88 commented on #102
Can you try to reinstall the app? 😅
This issue are likely caused by a permission problem, which often resolves itself after a re-install.

[2022-10-06 06:38] ruicouto-w commented on #102
Seems to be ok now. I updated Ventura to the latest beta and I could add it then to the login items.
Thanks for the support.

[2022-10-17 02:59] dinhquochan commented on #40
It's work perfectly why u reopen this?

[2022-10-18 08:52] ahchaodev opened #105 "JWS"
I am using the JWT feature to read a JWS token. It says the header is invalid when it isn’t. JWT.io don’t have this issue.

Can we support JWE and JWS properly?

[2022-10-26 16:06] CyberMew opened #106 "Find input disappeared"
When searching for something, and you switch or lose focus, the find input is closed and the type you typed is gone. Not sure if this is a bug or intended.

Expected behaviour: find input remains active and text is not cleared when app loses focus.

[2022-10-31 01:03] CyberMew commented on #106
Also to add on, it should show search previous as well. It is missing.

[2022-11-08 21:43] asportnoy opened #107 "[New tool] Chmod permission calculator"
Please add a tool similar to https://chmod-calculator.com/ for calculating chmod permissions. Thanks!

[2022-11-19 08:56] zhongyiio commented on #84
Thanks for the feature.

[2022-11-19 08:56] #84 closed

[2022-11-24 11:50] inecmc opened #108 "[Feature] HMAC Generator"
HMAC signatures verification for request/response is a common way for integrating third-party APIs.
It will be useful in evaluating and testing APIs.

[Reference](https://dinochiesa.github.io/hmachash/index.html)

[2022-11-25 00:17] mikelorant opened #109 "[Feature] Collapse JSON"
It would be really useful to be able to collapse nested JSON down to just top level keys rather than expanding all the nesting automatically. This helps a lot when it is a large JSON structure and you only want to view specific keys.

[2022-11-26 20:08] marlkiller opened #110 "feature： Support parse xpath"
plz！

[2022-11-28 12:18] jmunckhof opened #111 "[Feature] Generate ean barcode"
It would be really helpful to be able to generate ean barcodes. Example website: https://barcode.tec-it.com/en/EAN13?data=8710956101158

[2022-11-28 12:18] jmunckhof commented on #111
EAN8, EAN13 and EAN14